* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



:root {
    --primary-color: #5f6167;
    --secondary-color: rgb(163,255,46);
}

h2 {
    margin-bottom: 20px;
}


h2, h4 {
    color: white;
    font-weight: bold;
}

h4, h5 {

    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 ~ h5 {

    text-align: start;
}

h5, .dv-categories li a, #side-bar ul li a, #side-bar ul li, .in-sb span, .bottom-sb a:link:nth-of-type(1), .bottom-sb a:visited:nth-of-type(1) {

    color: var(--primary-color);
    fill:currentColor;
    list-style: none;
}

a:visited , a:link {

    text-decoration: none;
    color: white;
}

main {

    display: flex;
}


#discover {

    width: 100vw;
    min-width: 320px;
    height: calc(100vh - 100px);   
}

.call-a , .dv-categories {

    text-transform: uppercase;
}


footer {

    width: 100%;
    height: 100px;
    background-color: rgb(36,36,36);
    /* position: relative; 
    z-index: 105; */
}

/********* LOADING *********/

/* #wrapper {

    animation: opc 3s;
}

@keyframes opc {

    0% {

        filter: blur(10px);
    }

    99% {

        filter: blur(10px);
    }

    100% {

        filter: blur(0px);
    }


} */


.loading {

    width: 100px;
    height: 10px;
   
    position: absolute;
    z-index: 9999;
    bottom: calc(100% - 50px);
    left: calc(50% - 50px);
}

.in-mini-circles {

    position: relative;
    width: 100%;
    height: 100%;
    

}

.circles {

    background-color: var(--secondary-color);
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    left: 0;
    animation: start 0.5s;
}

.circles:nth-of-type(1) {

    animation: loading1 2s;
}

.circles:nth-of-type(2) {

    top:10px;
    left:20px;

    width: 10px;
    height: 10px;

    animation: loading1 2s;
    animation-delay: 0.2s;
}

.circles:nth-of-type(3) {

    top:15px;
    left:45px;

    width: 10px;
    height: 10px;

    animation: loading1 2s;
    animation-delay: 0.5s;
}

.circles:nth-of-type(4) {

    top:10px;
    left:70px;

    width: 10px;
    height: 10px;

    animation: loading1 2s;
    animation-delay: 0.7s;
}

.circles:nth-of-type(5) {

    top:0px;
    left:85px;

    width: 15px;
    height: 15px;

    animation: loading1 2s ease-in-out;
    animation-delay: 0.9s;

}

@keyframes loading1 {

    0% {
        top: 10px;
        height: 100%;
        
    }

    10% {

        top: 30px;
        
    }

    20% {


        height: 80%;
    }

    30% {

        top: 10px;
        height: 100%;
    }

    40% {

        top: 30px;
        
    }

    50% {


        height: 80%;
    }

    60% {

        top: 10px;
        height: 100%;
    }

    70% {

        top: 30px;
        
    }

    80% {


        height: 80%;
    }

    90% {

        top: 0px;
        height: 100%;
        opacity: 100%;
    }

    100% {

        top: 10px;
        height: 100%;
        opacity: 0%;
        
    }


}





/********* LOADING *********/
/******** SIDE-BAR *********/

#side-bar {

    position: relative;
    min-width: 180px;
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    line-height: 35px;
}

.top-sb {

    padding: 20px;
}

.normal-logo {

    width: 120px;
}

.mini-logo {

    display: none;
    width: 50%;
}


#side-bar .bottom-sb {
    width: 100%;
    padding: 0px 20px 0px 20px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left:0;
   
}

.top-sb ul li img {

    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
    filter: brightness(40%);

}

.in-sb span i {

    margin-right: 10px;
 
    background-color: grey;
    padding: 10px;
    border:  2px solid;
    border-color: var(--primary-color);
    color: black;
    
}

#side-bar .top-sb ul li {

    line-height: 35px;

}

.playlist {

    font-size: 15px;
}

#side-bar ul li a:Hover {

    color: white;
  
}

#side-bar span a:link, #side-bar .top-sb .in-sb span a:visited {

    color: var(--primary-color);
}

#side-bar span:hover a:link , #side-bar .top-sb .in-sb span:hover a:visited {

    color: white;
}

.bottom-sb a:nth-of-type(1) img {

    width: 20px;
    vertical-align:middle;
    margin-right: 10px;
    filter: brightness(40%)

}

.bottom-sb a:nth-of-type(1):hover {

    color: white;
}

.profile img {

    width: 20px;
    margin-right:10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    vertical-align: middle;
}



/******** SIDE-BAR *********/
/******** DISCOVER ************/

#discover .call-a a:visited , .call-a a:link {

    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    line-height: 80px;
    color: white;
    
}

.call-a {

    width: 100%;
    height: 100px;
    background-color: rgb(10,14,19);
    font-size: 10px;
    text-align: right;

    line-height: 100px;
}


.call-a a:hover {

    font-size: 1.2em;
}

.dv-a {

    width: 100%;
    height: calc(100vh - 200px);
    overflow-y: scroll;

    background-color: rgb(20,24,31);
    padding: 30px;  
}

.dv-categories {

    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;

    flex-wrap: wrap;
}

.dv-categories li:first-child {

  
    position: relative;
    z-index: 10;
}

.dv-categories li:first-child:before {

    content: "";
    position: absolute; 
    left:40px;
    bottom: -5px;
    width: 30px;
    border-bottom: 2px solid var(--secondary-color);
}

#discover .dv-categories li:hover a {

    color: white;
}

.albums {

    margin-top: 30px;
}

.alb-c {

    margin: 40px 0px;
    display: flex;
    justify-content: flex-start;

 
}

.alb-ex {

    width: calc((100% / 6) - 20px);
    margin-right: 20px;

        /* display: inline-block; bug-altezza */


    
}


.alb-c:nth-of-type(3) .alb-ex .img-wrp img, .alb-c:nth-of-type(3) .alb-ex .img-hv {

    border-radius: 50%;
}

.img-wrp {

    position: relative;
}

.img-wrp img {

    object-fit:cover;

    width: 100%;
}


.img-hv .img-hv-icon {

    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
    border: 7px solid white;
}

.img-hv-icon {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
    position: absolute;
    top: calc( 50% - 30px );
    left: calc( 50% - 30px);
}



.img-hv {

    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;

    background-color: rgba(6, 6, 6, 0.5);
    opacity: 0%;

}




.img-hv-icon i {

    padding-left: 5px;
}


.img-hv:hover {

    opacity: 100%;
}

.album-description {

    width: 100%;
}

.album-link {

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 10;
}

/******** DISCOVER **********/
/******** FOOTER **********/

.ft-player {


    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.ft-lft, .ft-mid, .ft-rgt {


    height: 70%;
 
}

.ft-lft , .ft-rgt {

    width: 25%;
    min-width: 155px;
    color: white;
}

.ft-mid {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}

.ft-ply-btn {

    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 10px;

    width: 50%;

}


.ft-mid i {

    color: white;
}


.icon-ply {

    border-radius: 50%;
    border: 4px solid white;
    width: 40px;
    height: 40px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.empty-icon {

    width: 50px;
    height: 50px;
    min-width: 50px;
}

.icon-ply:hover {

    width: 45px;
    height: 45px;
}

.icon-ply:hover i {

    font-size: 30px;
}
.icon-ply i {

  
    font-size: 25px;
    padding-left: 3px;
}

.time-bar {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    color: white;
}

.time-bar p , .time-bar .line-bar {


    margin: 10px;;
}

.time-bar p {

    font-size: 10px;
}


.line-bar {

    width: 60%;
    height: 1px;
    border: 2px solid;
    border-color: var(--primary-color);
    border-radius: 10px;
    position: relative;

}



.green-line-bar {

    position: absolute;
    top: -1.5px;
    left: -1px;
    width: 20%;
    height: 100%;
    border: 2px solid white;
    border-radius: 10px;

    line-height: 20px;

    animation: inplay linear 30s;
}

.bar-circle {

    width: 10px;
    height: 10px;
    position: absolute;
    right: -5px;
    bottom: -5px;
    background-color: white;
    border-radius: 50%;

    display: none;
}

.green-line-bar:hover {

    border-color: var(--secondary-color);

}

.green-line-bar:hover .bar-circle {

    display: block;
}

.ft-lft {


    display: flex;
    align-items: center;
}

.album-icon {

    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.album-icon-dsp {

    margin-left: 20px;
    padding: 0;
}

.album-icon-dsp h6 {

    font-size: 15px;
}

.album-icon-dsp p a {

    font-size: 10px;
    color: var(--primary-color);
}

.album-icon-dsp p a:hover {

    color: white;
    text-decoration: underline;
}


.album-icon img {

    width: 50px;
    height: 50px;
}

.like-in {

    margin-left: 20px;
    font-size: 15px;
    color: var(--primary-color);
}

.like-in a:visited , .like-in a:link {

    color: var(--primary-color);
}
.like-in a:hover {

    color: white;
}

.ft-rgt .line-bar {

    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: 0px 10px;
}
.ft-rgt i {

    margin-left: 10px;
}
.ft-rgt {

    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: white;
}
/******** FOOTER ********/

/* RESPONSIVE VERTICAL */

@media screen and (max-height: 800px) {

    .playlist {
  
        max-height: 40vh;
        overflow: scroll;

    }

}



@media screen and (max-height: 442px) {

    #side-bar {

        overflow: auto;
        max-height: 400px;
    }

    .in-sb {

        height: 40px;
        overflow: scroll;
       
    }

    #side-bar .bottom-sb {

        position: relative;
        z-index: 9000;
    }

    .call-a {

        display: none;
    }

    .dv-a {

        height: calc(100vh - 100px);
    }
}

/* RESPONSIVE VERTICAL */

/* RESPONSIVE HORIZONTAL */

@media screen and (max-width: 992px) {

    .alb-c {

        flex-wrap: wrap;
        
    }

    .alb-ex {

        width: calc(100% / 5);
    }


}

@media screen and (max-width: 768px) {

    .alb-c {

        flex-wrap: wrap;
       
    }

    .alb-ex {

        width: calc((100% / 2) - 20px);
    }


}

@media screen and (max-width:576px) {

    #side-bar {

        min-width: 65px;
    }

    .in-sb, .top-sb h3, .mn, .normal-logo {

        display: none;
    }

    .mini-logo {

        display: block;
        width: 25px;
    }

    .profile img {

      width: 20px;
    }

    .bottom-sb {

        margin-bottom: 10px;
    }

    #discover .call-a a:visited , .call-a a:link, .call-a a  {

        background-color: white;
        color: var(--primary-color);

    }


    .call-a {

            text-align: center;
       
    }
}



@media screen and (max-width:430px) {

    .ft-rgt i:nth-of-type(1), .ft-rgt i:nth-of-type(2) {

        display: none;
    }

    .ft-rgt {

        display: flex;
        justify-content: flex-start;
        min-width: 100px;
    }
}



@media screen and (max-width:380px) {


    .ft-rgt {

        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 100px;
        gap: 10px;
    }
}



@keyframes inplay {

    0% {

        width: 40%;
    }

    100% {

        width: 100%;
    }
    
}
