* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {

    display: flex;
    position: relative;
}

#side-bar {

    width: 400px;
    background-color: black;
    overflow-x: hidden;

    padding-bottom: 80px;


}

#discover {

    width: 100vw;
    font-size: 40px;
    
}

.call-a {

    width: 100%;
    height: 80px;

    top: 0px;
    background-color: green;

    text-align: right;
}

.dv-a {

    width: 100%;
    height: calc(100vh - 160px);

    overflow: scroll;

    background-color: grey;
}

footer {

    width: 100%;
    height: 80px;
    background-color: green;
    
}

/****************/